@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&display=swap');

:root {
    --orange-color: #FF6B00;
    --violet-color: #AB00FC;
    --green-color: #3de74e;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background: url(images/VillaMaravillaporTecate.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
  
    justify-content: center;
    align-content: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}
.body{
    display: grid;

}
img {
    width: 100%;
    align-self: center;
    height: 400px;
}
img:hover {
    opacity: 0.8;
    cursor: pointer;
}
h1, h3{
    text-transform: uppercase;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
    "navbar navbar"
    "one one"
    "two img-one"
    "img-two three";
    gap: 130px;
    padding: 50px;
}
.navbar {
    grid-area: navbar;
}
.img-one {
    grid-area: img-one;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.img-two {
    grid-area: img-two;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.grid-one {
    grid-area: one;
    text-align: center;
}
.grid-two, .grid-three {
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}
.grid-two {
    grid-area: two;
    align-items: flex-start;
    text-align: start;
    background: #f8e8ff;
}
.grid-two h3, .grid-three h3 {
    width: 100%;
    background: var(--violet-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-three h3 {
    background: var(--orange-color);
}
.grid-two p, .grid-three p, button {
    margin-left: 50px;
    margin-right: 50px;
    color: #000;
}
.grid-three {
    grid-area: three;
    align-items: flex-end;
    text-align: end;
    background: #fff4eb;
}
button {
    padding: 10px;
    width: 150px;
    border: none;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 50px;
    box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
    -webkit-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
}
button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
}
.grid-two button {
    background: var(--violet-color);
}
.grid-three button{
    background: var(--orange-color);
}




header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid red; */
} 

.logo{
    background-color: var(--green-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img{
    width: 50px;
    height: 50px;
} 

ul{
    display: flex;
    list-style-type: none ;
    justify-content: space-between;
    gap: 20px;
    
}

nav a{
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-decoration: none;
    color: white;  
}

.left-part{
    display: flex;
    min-width: 60%;
    justify-content: space-around;
}

nav a:hover{
    text-decoration: underline;
    font-size: 35px;
}

.burgerClass{
    display: none;
}




@media (max-width: 800px) {
    .main {
        grid-template-areas:
        "one"
        "img-one"
        "two"
        "img-two" 
        "three";
        gap: 50px;
    }
    img {
        height: auto;
    }
    .grid-two, .grid-three {
        height: auto;
    }
}
    @media(max-width: 760px){

        .left-part{
            justify-content: flex-end;
            padding-right: 10px;
        }
    
        .burgerClass{
            display: block;
        }
    
        #burger {
            width:30px;
            height:4px;
            background: white;
            display:inline-block;
            position:relative;
            }
        
            #burger::before,
            #burger::after {
            content:'';
            width:30px;
            height:4px;
            background:white;
            display:inline-block;
            position:absolute;
            transform-origin: center;
            transition: all 0.3s ease;
            }
            #burger::before {
            top:-7px;
            }
            #burger::after {
            top:7px;
            }
        
            #burger.open {
            background:transparent;
            }
            #burger.open::before {
            transform: rotate(45deg);
            top:0;
            }
            #burger.open::after {
            transform: rotate(-45deg);
            top:0;
            }
    
            .navbar {
                background:rgba(0, 0, 0, 0.783);
                position: absolute;
                width:100%;
                left:0;
                top:26%;
                z-index: 1;
                padding:10px 0;
                transform:scaleY(0);
                transform-origin:center top;
                transition:all 0.4s ease;
                }
                .navbar.open {
                display: block;
                transform:scaleY(1);
                padding: 34px;
                }
                .navbar li {
                padding:30px 0;
                text-align:center;
                }
    
                .list-nav{
                    flex-direction: column;
                    align-items: center;
                    gap: 25px;
                }
    
            
    }
    
