@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #FF6B00;
    --violet-color: #AB00FC;
    --green-color: #0DDA21;
}

body {
    background-image: url(img/concert-photos-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Exo 2', sans-serif;
}

.tickets-main {
    outline: 3px solid orange;
    height: 80vh;
    width: 85%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-title {
    background: linear-gradient(135deg, #ff6b00 25%, transparent 25%) -100px 0/ 200px 200px, linear-gradient(225deg, rgba(255,107,0,0.5) 25%, transparent 25%) -100px 0/ 200px 200px, linear-gradient(315deg, #ff6b00 25%, transparent 25%) 0 0/ 200px 200px, linear-gradient(45deg, rgba(255,107,0,0.5) 25%, #ab00fc 25%) 0 0/ 200px 200px;
    background-color: #ab00fc;
    height: 150px;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 4px;
}

.ticket-title {
    font-size: 65px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tickets-perday {
    outline: 2px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 85vh;
}

.tickets-perday > div {
    outline: 2px solid red;
    width: 25%;
    height: 500px;
    border-radius: 15px;
}

.title-day {
    background-color: #0DDA21;
    height: 15%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 23px;
}

.title-day.one {
    background-color: #AB00FC;
}

.title-day.three {
    background-color: #FF6B00;
}

.first-day {
    background: linear-gradient(45deg,#0000 calc(25%/3), #f8a66c 0 calc(50%/3),
      #0000 0 calc(250%/3), #f8a66c 0 calc(275%/3),
      #0000 0),linear-gradient( 45deg,#f8a66c calc(25%/3), #0000 0 calc(50%/3),
      #f8a66c 0 25%, #0000 0 75%,
      #f8a66c 0 calc(250%/3), #0000 0 calc(275%/3),
      #f8a66c 0),
      linear-gradient(-45deg,#0000 calc(25%/3), #f8a66c 0 calc(50%/3),
      #0000 0 calc(250%/3), #f8a66c 0 calc(275%/3),
      #0000 0),linear-gradient(-45deg,#f8a66c calc(25%/3), #0000 0 calc(50%/3),
      #f8a66c 0 25%, #0000 0 75%,
      #f8a66c 0 calc(250%/3), #0000 0 calc(275%/3),
      #f8a66c 0)
      #e5acff;
    background-size: 186px 186px;
    background-position: 0 0, 93px  93px;
}

.tickets-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    border: 1px solid red;
    padding: 15px;
}

.ticket-info {
    font-size: 20px;
    outline: 2px solid yellow;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}


.btn-tickets {
    border: none;
    height: 35px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
    -webkit-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
}

.btn-tickets:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
}