@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange-color: #FF6B00;
    --violet-color: #AB00FC;
    --green-color: #0DDA21;
}

body {
    background-image: url(img/concert-photos-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Exo 2', sans-serif;
}

.tickets-main {
    height: 80vh;
    width: 85%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-title {
    background: linear-gradient(135deg, #ff6b00 25%, transparent 25%) -100px 0/ 200px 200px, linear-gradient(225deg, rgba(255,107,0,0.5) 25%, transparent 25%) -100px 0/ 200px 200px, linear-gradient(315deg, #ff6b00 25%, transparent 25%) 0 0/ 200px 200px, linear-gradient(45deg, rgba(255,107,0,0.5) 25%, #ab00fc 25%) 0 0/ 200px 200px;
    background-color: #ab00fc;
    height: 150px;
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 10px;
}

.ticket-title {
    font-size: 65px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tickets-perday {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    min-height: 650px;
}

.tickets-perday > div {
    width: 80%;
    height: 500px;
    border-radius: 15px;
}

.title-day {
    background-color: #3de74e;
    height: 15%;
    width: 100%;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fad9c1;
    font-size: 23px;
}

.title-day.one {
    background-color: #AB00FC;
    color: #ccfed1;
}

.title-day.three {
    background-color: #FF6B00;
    color: #eecaff;
}

.first-day {
    background-color: #ccfed1;
}

.second-day {
    background-color: #fad9c1;
}

.third-day {
    background-color: #eecaff;
}

.tickets-prices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 85%;
    padding: 15px;
}

.ticket-info {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: 100%;
}


.btn-tickets {
    border: none;
    height: 35px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
    -webkit-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 4px 5px 0px 0px rgba(0,0,0,0.95);
}

.btn-tickets.one{
    border: 1px solid #000;
    background-color: #ebffed;
}

.btn-tickets.two{
    border: 1px solid #000;
    background-color: #fff5ee;
}

.btn-tickets.three{
    border: 1px solid #000;
    background-color: #f8e9ff;
}

.btn-tickets:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
    -webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
    -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.95);
}

@media screen and (max-width: 900px) {
    .tickets-perday {
        display: flex;
        flex-direction: column;
    }
}